@model List<Category>
@{
    var successMessage = TempData["Success"] as string;
}

<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div class="text-right">
        <a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category Id</th>
                <th>Category Name</th>
                <th>Category Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>@{
            int iteration=1;
                foreach (var i in Model)
                {
                    <tr>
                        <td style="display: none;">
                            @i.CategoryId
                        </td>
                        <td>@iteration</td>
                        <td>
                            @i.CategoryName
                        </td>
                        <td>
                            @i.Description
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@i.CategoryId">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@i.CategoryId">Delete</a>
                        </td>
                    </tr>
                iteration++;
                }
            }
        </tbody>
    </table>

    @if (!string.IsNullOrEmpty(successMessage))
    {
        <script type="text/javascript">
            alert('@Html.Raw(JavaScriptStringEncode(successMessage))');
        </script>
    }
</body>

</html>

@functions {
    public static string JavaScriptStringEncode(string value)
    {
        return System.Text.Encodings.Web.JavaScriptEncoder.Default.Encode(value);
    }
}
